@charset "utf-8";
/* CSS Document */

.sc_main {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-family: 'Open Sans', sans-serif;
}
.sc_main .chatbox {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
	margin-right: 62px;
	max-width: 220px;
	min-height: 50px;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
	background-color:white;
}
.sc_main .chatbox:after, .sc_main .chatbox:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.sc_main .chatbox:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 6px;
	margin-top: -6px;
	bottom: 19px;
}
.sc_main .chatbox:before {
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #ccc;
	border-width: 7px;
	margin-top: -7px;
	bottom: 18px;
}
.sc_main .chatbox p {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	line-height: 20px;
	color: #363636;
}
.sc_main .chatbox .closer {
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background: #f2f3f4;
	position: absolute;
	top: -8px;
	left: -8px;
	padding: 0px 4px;
	box-sizing: border-box;
	color: #aaa;
	font-weight: bold;
	font-size: 11px;
    line-height: 14px;
	cursor: pointer;
	border: 1px solid #ccc;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.sc_main:hover .chatbox .closer {
	opacity: 1;
}
.sc_main .chatbox .closer:hover {
	background: #ccc;
	color: #fff;
}
.sc_main .icon {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #000;
	position: absolute;
	right: 0px;
	bottom: 0px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
	cursor: pointer;
}
.sc_main .icon img {
	width: 50px;
	border-radius: 25px;
}
.sc_main .icon .notification {
	background: red;
	border-radius: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px 4px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

/* BIG CHAT */

.sc_main .bigchat {
	width: 400px;
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	border-left: 1px solid #ccc;
	transition: all 0.3s ease-in-out;
	background: rgba(242,243,244,0.8);
}
.sc_main .bigchat .header {
	background: #fff;
	height: 50px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.08);
	text-align: center;
	position: relative;
	padding: 5px;
    box-sizing: border-box;
}
.sc_main .bigchat .header .name {
	font-weight: bold;
	font-size: 14px;
}
.sc_main .bigchat .header .time {
	font-size: 11px;
	color: #bbb;
}
.sc_main .bigchat .header .close {
	position: absolute;
	right: 8px;
	top: 5px;
	font-weight: bold;
	color: #ccc;
	font-size: 12px;
	cursor: pointer;
	color: #000;
}
.sc_main .bigchat .header .close:hover {
	color: red;
}
.sc_main .bigchat .primarychat {
	padding: 20px;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
	bottom: 0px;
}
.sc_main .bigchat .primarychat .timestamp {
	font-size: 10px;
    text-align: center;
    color: #ccc;
    margin: 8px;
    float: left;
    width: 100%;
}
.sc_main .bigchat .primarychat .message {
	position: relative;
}
.sc_main .bigchat .primarychat .message.left {
	float: left;
}
.sc_main .bigchat .primarychat .message.right {
	float: right;
}
.sc_main .bigchat .primarychat .message .icon {
	overflow: hidden;
	cursor: default;
}
.sc_main .bigchat .primarychat .message.left .icon {
	width: 30px;
	height: 30px;
	background: #000;
	top: 0px;
	left: 0px;
	box-shadow: none;
}
.sc_main .bigchat .primarychat .message.left .chatbubble {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
	margin-left: 40px;
	float: left;
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
}
.sc_main .bigchat .primarychat .message.left .chatbubble:after, .sc_main .bigchat .primarychat .message.left .chatbubble:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sc_main .bigchat .primarychat .message.left .chatbubble:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.sc_main .bigchat .primarychat .message.left .chatbubble:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #ccc;
	border-width: 6px;
	margin-top: -6px;
}
.sc_main .bigchat .primarychat .message.right .icon {
	width: 30px;
	height: 30px;
	background: #000;
	top: 0px;
	right: 0px;
	box-shadow: none;
}
.sc_main .bigchat .primarychat .message.right .chatbubble {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: #DAF2FF;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
	margin-right: 40px;
	float: right;
	position: relative;
	background: #daf2ff;
	border: 1px solid #ccc;
}
.sc_main .bigchat .primarychat .message.right .chatbubble:after, .sc_main .bigchat .primarychat .message.right .chatbubble:before {
	left: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sc_main .bigchat .primarychat .message.right .chatbubble:after {
	border-color: rgba(218, 242, 255, 0);
	border-left-color: #daf2ff;
	border-width: 5px;
	margin-top: -5px;
}
.sc_main .bigchat .primarychat .message.right .chatbubble:before {
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #ccc;
	border-width: 6px;
	margin-top: -6px;
}
.sc_main .bigchat .primarychat .message .chatbubble p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	line-height: 20px;
	display: block;
}
.sc_main .bigchat .chatfield {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	display: none;
}
.sc_main .bigchat .chatfield textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 70px 10px 10px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
	height: 40px;
    max-height: 200px;
	white-space: pre-wrap;
    word-wrap: break-word;
	resize: none;
}
.sc_main .bigchat .chatfield .chatbutton {
	display: inline;
	position: absolute;
	top: 20px;
	background: transparent;
	border: none;
	font-size: 16px;
	color: #bbb;
	cursor: pointer;
}
.sc_main .bigchat .chatfield .chatbutton:hover {
	color: blue;
}
.sc_main .bigchat .chatfield .chatbutton.attachment {
	bottom: 26px;
	right: 56px;
}
.sc_main .bigchat .chatfield .chatbutton.emoji {
	bottom: 26px;
	right: 30px;
}
