.panel
  -webkit-box-shadow: 4px 4px 4px #ddd
  -moz-box-shadow: 4px 4px 4px #ddd
  box-shadow: 4px 4px 4px #ddd

#line-entries .panel.panel-default,#modal-editlineitem .modal-body
  input[type="checkbox"]
    display: block
    width: 100%
    height: 34px
    margin-top: -1px
form[name="timesheet"]
  table
    input[type="checkbox"]
      display: block
      width: 34px
      height: 34px
      margin-top: -1px
#existing-entries
  max-height: 300px
  overflow-y: auto
  table
    tbody
      td
        vertical-align: middle
        &:nth-child(n+3)
          text-align: center
#ActiveProjects
  ul
    li[data-pid]
      cursor: pointer
.floatThead-container
  background: #fff