.btn-secondary {
  color: #fff;
  background-color: #2c3692;
  border-color: #262f7e; }
  .btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: #20286b;
      background-color-border-color: #090b1c; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #20286b;
      background-color-border-color: #181d4f; }
  .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #20286b;
      background-color-border-color: #181d4f; }
    .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus, .open > .btn-secondary.dropdown-toggle:hover, .open > .btn-secondary.dropdown-toggle:focus, .open > .btn-secondary.dropdown-toggle.focus {
      color: #fff;
      background-color: #181d4f;
        background-color-border-color: #090b1c; }
  .btn-secondary:active, .btn-secondary.active, .open > .btn-secondary.dropdown-toggle {
    background-image: none; }
  .btn-secondary.disabled, .btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary.disabled:active, .btn-secondary.disabled.active, .btn-secondary[disabled], .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus, .btn-secondary[disabled]:active, .btn-secondary[disabled].active, fieldset[disabled] .btn-secondary, fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus, fieldset[disabled] .btn-secondary.focus, fieldset[disabled] .btn-secondary:active, fieldset[disabled] .btn-secondary.active {
    background-color: #2c3692;
      background-color-border-color: #262f7e; }
  .btn-secondary .badge {
    color: #2c3692;
    background-color: #fff; }

#inner-panel {
  border: 1px solid #ddd;
  border-top: none; }
  #inner-panel #client-list, #inner-panel #my-client-list {
    max-height: 320px;
    overflow-y: auto; }
    #inner-panel #client-list .panel, #inner-panel #my-client-list .panel {
      border: none; }
      #inner-panel #client-list .panel + .panel, #inner-panel #my-client-list .panel + .panel {
        margin-top: 0px; }
      #inner-panel #client-list .panel:first-child .panel-title .list-group-item:first-child, #inner-panel #my-client-list .panel:first-child .panel-title .list-group-item:first-child {
        border-top-width: 1px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      #inner-panel #client-list .panel:last-child .panel-title .list-group-item:last-child, #inner-panel #my-client-list .panel:last-child .panel-title .list-group-item:last-child {
        border-bottom-width: 1px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
      #inner-panel #client-list .panel:last-child .panel-title .list-group-item[aria-expanded="true"], #inner-panel #my-client-list .panel:last-child .panel-title .list-group-item[aria-expanded="true"] {
        border-radius: 0px; }
      #inner-panel #client-list .panel .panel-title .list-group-item, #inner-panel #my-client-list .panel .panel-title .list-group-item {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-width: 0px; }
      #inner-panel #client-list .panel .panel-collapse .list-group, #inner-panel #my-client-list .panel .panel-collapse .list-group {
        border-color: #dddddd; }
        #inner-panel #client-list .panel .panel-collapse .list-group:last-child, #inner-panel #my-client-list .panel .panel-collapse .list-group:last-child {
          margin-bottom: 0; }
          #inner-panel #client-list .panel .panel-collapse .list-group:last-child .list-group-item:last-child, #inner-panel #my-client-list .panel .panel-collapse .list-group:last-child .list-group-item:last-child {
            border-bottom: 1px solid #ddd;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
        #inner-panel #client-list .panel .panel-collapse .list-group .list-group-item, #inner-panel #my-client-list .panel .panel-collapse .list-group .list-group-item {
          border-width: 0px 1px 1px 1px;
          border-radius: 0px; }
          #inner-panel #client-list .panel .panel-collapse .list-group .list-group-item .rate, #inner-panel #my-client-list .panel .panel-collapse .list-group .list-group-item .rate {
            float: right; }

[data-edit-client], [data-del-id], [data-edit-id], [data-addtomylist], [data-rem-mylist] {
  opacity: 0.5; }
  [data-edit-client]:hover, [data-del-id]:hover, [data-edit-id]:hover, [data-addtomylist]:hover, [data-rem-mylist]:hover {
    opacity: 1;
    cursor: pointer; }

[data-edit-client] {
  padding-left: 0.3em; }

[data-del-id], [data-rem-mylist] {
  color: #f00;
  padding-right: 0.3em;
  padding-top: 0.1em; }

#line-entries .panel.panel-default input[type="checkbox"], #modal-editlineitem .modal-body input[type="checkbox"] {
  display: block;
  width: 100%;
  height: 34px;
  margin-top: -1px; }

form[name="timesheet"] table input[type="checkbox"] {
  display: block;
  width: 34px;
  height: 34px;
  margin-top: -1px; }

#existing-entries {
  max-height: 300px;
  overflow-y: auto; }
  #existing-entries table tbody td {
    vertical-align: middle; }
    #existing-entries table tbody td:nth-child(n+3) {
      text-align: center; }

#ActiveProjects ul li[data-pid] {
  cursor: pointer; }

.floatThead-container {
  background: #fff; }

#TimeSheetSummary table.table {
  table-layout: fixed; }
  #TimeSheetSummary table.table td {
    vertical-align: middle; }

#DetailedSummary .list-group.panel table.table {
  margin-bottom: 0; }
#DetailedSummary .period {
  background-color: #d9edf7;
  font-color: #31708f;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }
#DetailedSummary .client {
  font-weight: bold; }
#DetailedSummary .project {
  padding-left: 30px; }
#DetailedSummary table thead th:first-child, #DetailedSummary table thead th:nth-child(n+3) {
  width: 1%; }

/* Signin */
.signin {
  float: right; }
  .signin .form-signin {
    padding: 15px; }
    .signin .form-signin .form-signin-heading, .signin .form-signin .checkbox {
      margin-bottom: 10px; }
    .signin .form-signin checkbox {
      font-weight: normal; }
    .signin .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px; }
      .signin .form-signin .form-control:focus {
        z-index: 2; }
    .signin .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .signin .form-signin [type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }

.nav li a {
  text-shadow: 1px 1px #ccc; }

.navbar-brand {
  padding-left: 15px; }

.alert ul {
  margin-bottom: 0;
  padding-left: 15px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7; }
  footer p {
    padding-top: 20px;
    text-align: center; }

/* main css for timesheets */
html, body, div, section, input, aside {
  font-family: "Roboto", sans-serif; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #eee;
  margin-bottom: 60px; }

.rate {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-weight: bold;
  color: #090;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center; }

form {
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
