@charset "utf-8"

@import "mixins"
@import "variables"
@import "timesheet-admin"
@import "timesheet-home"
@import "login"
@import "header"
@import "footer"
/* main css for timesheets */

html, body, div, section, input, aside 
  font-family: 'Roboto', sans-serif

html
  position: relative
  min-height: 100%

body
  background-color: #eee
  margin-bottom: 60px

.rate
  display: inline-block
  min-width: 10px
  padding: 3px 7px
  font-weight: bold
  color: #090
  line-height: 1
  vertical-align: middle
  white-space: nowrap
  text-align: center