@charset "utf-8"

@import "mixins"
@import "variables"
@import "timesheet-admin"
@import "login"
@import "header"
@import "footer"
/* main css for timesheets */

html, body, div, section, input, aside 
  font-family: 'Roboto', sans-serif

html
  position: relative
  min-height: 100%

body
  background-color: #eee
  margin-bottom: 60px